#cabecalho {
	background-color:rgba(17, 17, 148, 0.726);
	height: 90px;
	padding:5px;
	
}
#conteudo-cab{
	margin: 0px 200px;
}
#linktopo
{
	font-size: 45px;
	color: white;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#logo{
	float: left;
}

#wrap-left{
	float: right;
	position:relative;
	margin: 30px 0px;
}
#lo-se{
	float: right;
	margin-left: 50px;
}