#cabecalho {
	background-color: white;
	padding:5px;
}
#conteudo-cab{
	margin: 0% 10%;
	display: flex;
	justify-content: space-between;
}
#linktopo
{
	font-size: 45px;
	color: black;
	font-family: 'Brush Script MT',cursive;
}

#wrap-left{
	display: flex;
	position:relative;
	margin: 30px 0px;
}
#lo-se{
	margin: 30px 0px;
}