#rodape {/* fundo de todo rodapé*/
	background-color:rgb(223, 217, 217);
	height: 0 auto;
	padding: 5px;
	width: 100%;
}
#rodape-container{/* adicionar o display: flex; faz com que os componentes de dentro se alinhem ao lado do outro*/
	padding: 20px 0px;
	display: flex;
	justify-content: center;
}
#rodape-endereco-contato{
	padding: 0px 15px;
}
#rodape-contatos{
	padding: 0px 15px;
}
#RSociais{
	margin: 0px 10px;
}
#rodape-RSociais{
	padding: 5px;
	text-align: center;
}
#copy{
	padding: 10px;
	text-align:center;
}