#rodape {/* fundo de todo rodapé*/
	background-color:rgba(224, 224, 224, 0.726);
	height: 0 auto;
	padding: 5px;
	
}
#rodape-container{
	margin: 0px 300px;
	padding: 20px 0px;
	
}




#RSociais{
	margin: 0px 10px;
}
#rodape-RSociais{
	padding: 5px;
	text-align: center;
}
#copy{
	padding: 10px;
	text-align:center;
}