#conteudo-pag-promo{
    margin: 40px 10%;
    
}
#container-pag-promo{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#anterior, #proximo{
    height: 100px;
}
#container-pag-promo-conteudo{
    background-color: white;
}