.produto
{
    padding: 20px;
    display: inline-block;
    vertical-align: top;
}

.promocao
{
    color: red;
}
#img-pizza-render{
    width: 200px ;
    height: 200px ;
    padding: 4px;
    border: 2px solid;
}

.conteudo-pag{
    margin: 50px 10%;
}

