#div-home {
	margin:  50px 10% 10px  10%;
	padding: 1em;
	background-color: rgb(236, 235, 235);
	display: flex;
}

#cx-texto-pesquisa{
	margin-left: 7px;
	border: none;
	border-radius: 3px;
}

/* conteudo*/
#div-home-conteudo{
	background-color: rgb(236, 235, 235);
	margin-left:10% ;
	margin-right:10% ;
	margin-bottom: 7%;
	display: flex;
}
#div-home-conteudo-erro{
	background-color: rgb(236, 235, 235);
	margin-left:10% ;
	margin-right:10% ;
	margin-bottom: 7%;
	display: flex;
}